*	-text
*	encoding=utf-8
*.java	diff=java
*.c	diff=cpp
*.h	diff=cpp
*.cpp	diff=cpp
*.hpp	diff=cpp
*.md	diff=markdown
*.sh	diff=bash
*.html	diff=html
*.css	diff=css

src/hotspot/share/thirdparty/simdutf/simdutf.cpp linguist-generated=true
src/hotspot/share/thirdparty/simdutf/simdutf.h linguist-generated=true
doc/simdutf/results/*.json linguist-generated=true
